{% load static %}
{% load sas_tags %}

<script type="text/javascript" src="{% static 'student_assistance_system/js/requirements.js' %}"></script>

<h1>Requirements</h1>
<div class="requirement_sets">
{% for req_set in req_sets %}
<div class="requirement_set">
    <h2>{{ req_set.type_name }}: {{ req_set.name }}</h2>
    <hr />
    {% for req in req_set.requirements.all %}
    <div class="requirement">
        {% get_course_statuses req user schedule as course_statuses %}
        {% fulfillment_status req course_statuses as req_status %}
        <a onclick="showHideDiv('course_table_{{ forloop.parentloop.counter }}_{{ forloop.counter }}')">{{ req.name }}: {% long_status req_status %}</a>
        <div id="course_table_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" class="course_table">
            <table>
                <tr>
                    <th>Course</th>
                    <th style="width: 5em; text-align: center;">Status</th>
                </tr>
                {% with course_statuses.items as course_status_pairs %}
                {% for course, status in course_status_pairs %}
                {% if course_status_pairs|length < 15 or status != 'U' %}
                <tr>
                    <td>{{ course }}</td>
                    {% if status == 'U' %}
                    <td class="unfulfilled" title="{% long_status status %}"></td>
                    {% elif status == 'S' %}
                    <td class="schedule_fulfills" title="{% long_status status %}"></td>
                    {% elif status == 'F' %}
                    <td class="fulfilled" title="{% long_status status %}"></td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
                {% endwith %}
            </table>
            {% if req_status == 'U' %}
            <br />
            <a onclick="showHideDiv('suggestion_table_{{ forloop.parentloop.counter }}_{{ forloop.counter }}')">Suggestions</a>
            {% get_course_suggestions req course_statuses schedule as course_suggestions %}
            <div id="suggestion_table_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" style="display: block;">
                <table>
                    <tr>
                        <th>Course</th>
                        <th>Meeting Times</th>
                        <th></th>
                    </tr>
                    {% for section in course_suggestions|slice:":5" %}
                    <tr>
                        <td>{{ section.course }}</td>
                        <td>{% for time in section.condensed_meeting_times %}{{time}}{% if not forloop.last %}<br />{% endif %}{% endfor %}</td>
                        <td style="width: 1%; white-space: nowrap;">
                            <form method="post" action="{% url 'student_assistance_system:add_section'%}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ section.id }}" name="section" />
                                <input type="hidden" value="{{ schedule.id }}" name="schedule" />
                                <button type="submit">Add</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
</div>
