{% load static %}
{% load sas_tags %}

<script type="text/javascript" src="{% static 'student_assistance_system/js/requirements.js' %}"></script>

<div id="requirements">
<h1>Requirements</h1>
{% for req_set in req_sets %}
<a onclick="showHideDiv('set_content{{ forloop.counter }}')" href="#">{{ req_set.name }} ({{ req_set.type_name }})</a>
<div id="set_content{{ forloop.counter }}" style="display: none">
    <table border="1">
        <tr>
            <th>Requirement</th>
            <th>Status</th>
        </tr>
        {% for req in req_set.requirements.all %}
        {% fulfillment_status req user schedule as status %}
        <tr>
            <td>{{ req }}</td>
            {% if status == 'fulfilled' %}
                <td class="{{ status }}" title="Fulfilled" />
            {% elif status == 'schedule_fulfills' %}
                <td class="{{ status }}" title="Fulfilled by schedule" />
            {% else %}
                <td class="{{ status }}" title="Unfulfilled" />
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div><br /><br />
{% endfor %}
</div>
