<h1>Viewing schedule: {{ schedule.name }}</h1>
<table id="schedule">
    <tr>
        <th>Course Name</th>
        <th>Meeting Times</th>
        <th>Professor</th>
        <th>Location</th>
        <th>Enrolled</th>
        <th>Capacity</th>
    </tr>
    {% for section in schedule.sections.all %}
    <tr>
        <td valign="top">{{ section.course.name }}</td>

        <td valign="top">
            {% for m in section.meeting_times.all %}
                {{m}} <br>
            {% endfor %}
        </td>
        <td valign="top">{{ section.professor }}</td>
        <td valign="top">{{ section.location }}</td>
        <td valign="top">{{ section.enrolled }}</td>
        <td valign="top">{{ section.capacity }}</td>
    </tr>
    {% endfor %}
</table>


