{% load static %}
<script type="text/javascript" src="{% static 'student_assistance_system/js/requirements.js' %}"></script>
{% if editing %}
<h1>Editing schedule: <b>{{ schedule.name }}</b></h1>
<a href="{% url 'student_assistance_system:view_schedule' schedule.id %}" id="view" class="button" title="View schedule"></a>&nbsp;
{% else %}
<h1>Viewing schedule: <b>{{ schedule.name }}</b></h1>
<a href="{% url 'student_assistance_system:edit_schedule' schedule.id %}" id="edit" class="button" title="Edit schedule"></a>&nbsp;
{% endif %}
<a id = "rename" onclick="showHideDiv('sch_rename')" class="button" title="Rename schedule" ></a>
    <form method="post" action="{% url 'student_assistance_system:change_name'%}">
                {% csrf_token %}
                <div id="sch_rename" style="display:none">
                Edit Name: <input type="text" name="name">
                <input type="hidden" value="{{ schedule.id }}" name="schedule">
                <input type="submit" value="X" />
                </div>
    </form> </br>

<table id="schedule">
    <tr>
        <th>Course Name</th>
        <th>Meeting Times</th>
        <th>Professor</th>
        <th>Location</th>
        <th>Enrolled</th>
        <th>Capacity</th>
        {% if editing %}<th>Delete</th>{% endif %}

    </tr>
    {% for section in schedule.sections.all %}
    <tr>
        <td valign="top">{{ section.course.name }}</td>

        <td valign="top">
            {% for m in section.condensed_meeting_times %}
                {{m}} <br>
            {% endfor %}
        </td>
        <td valign="top">{{ section.professor }}</td>
        <td valign="top">{{ section.location }}</td>
        <td valign="top">{{ section.enrolled }}</td>
        <td valign="top">{{ section.capacity }}</td>
        {% if editing %}<td valign="top">
            <form method="post" action="{% url 'student_assistance_system:remove_section'%}">
                {% csrf_token %}
                <input type="hidden" value="{{ section.id }}" name="section">
                <input type="hidden" value="{{ schedule.id }}" name="schedule">
                <input type="submit" value="X" />
            </form>
        </td>{% endif %}

    </tr>
    {% endfor %}
</table>
<br />
<a href="{% url 'student_assistance_system:search' %}" class="button">Search Classes</a>
<br />
