html, body {
    height: 100%;
    margin: 0px;
}

#page {
    margin: auto;
    width: 60%;
    height: 100%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#top {
    text-align: center;
    background: #CCCCFF;
    padding: 5px 5px 0px 5px;
    border-bottom: 1px solid gray;
}

#top h1 {
    margin: 5px 0px 0px 0px;
    font-size: 4em;
}

#top p {
    margin: 0px 0px 5px 0px;
    color: #666666;
}

#top p a {
    color: #666666;
    font-weight: bold;
}

#content {
    padding: 0px 5px;
}
