html, body {
    height: 100%;
    margin: 0px;
}

#page {
    margin: auto;
    width: 75%;
    height: 100%;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

#top {
    text-align: center;
    background: #CCCCFF;
    padding: 5px;
}

#top a {
    color: #000000;
}

#content {
    border-top: 2px solid gray;
    padding: 5px;
}
