html * {
    font-family: Arial, 'sans-serif' !important;
    color: #171219;
}

html, body {
    height: 100%;
    margin: 0px;
}

div#top {
    width: 100%;
    background: #1D2D56;
    border-bottom: 2px solid #859BD1;
    position: fixed;
    top: 0px;
    height: 50px;
}

div#header {
    width: 70%;
    height: 100%;
    margin: auto;
}

div#logo {
    float: left;
    height: 100%;
    line-height: 55px;
    vertical-align: middle;
}

div#logo a {
    text-decoration: none;
    color: #F3F9D2;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 1px 1px 3px #171219;
}

div#logo a:hover {
    color: #CCCCCC;
}

div#links {
    text-align: right;
    height: 100%;
    margin-left: auto;
    padding-top: 1px;
    line-height: 40px;
    vertical-align: bottom;
}

div#links p, div#links p b, div#links p a {
    color: #F3F9D2;
}

div#content {
    margin: 60px auto;
    width: 70%;
    height: 100%;
}

div#content h1 {
    font-weight: bold;
}

table {
    background: #EEEEEE;
    border: 2px solid #7A7265;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #7A7265;
    border-collapse: collapse;
}

th {
    text-align: left;
}

table#schedule {
    width: 100%;
}

#centerText {
    padding: 0px 5px;
    text-align: center;
    color: #666666;
}

div#requirements {
    width: 100%;
    display: flex;
}

div#requirements a {
    font-size: 20px;
    color: #171219;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
    text-decoration: none;
}

div.requirement {
    flex-basis: 100%;
    padding: 2px;
    margin: 0px 2px;
    height: 0%;
    border: 1px solid #7A7265;
}

div.requirement table {
    width: 100%;
}

td.fulfilled {
    background: #534E46 url("../images/fulfilled.png") no-repeat center center;
    background-size: auto 90%;
}

td.schedule_fulfills {
    background: #534E46 url("../images/fulfilled_by_schedule.png") no-repeat center center;
    background-size: auto 90%;
}

td.unfulfilled {
    background: #534E46 url("../images/unfulfilled.png") no-repeat center center;
    background-size: auto 90%;
}
