html * {
    font-family: Arial, 'sans-serif' !important;
    color: #171219;
}

html, body {
    margin: 0px;
}

div#top {
    width: 100%;
    background: #1D2D56;
    border-bottom: 2px solid #859BD1;
    position: fixed;
    top: 0px;
    height: 50px;
    z-index: 10;
}

div#header {
    width: 70%;
    height: 100%;
    margin: auto;
}

div#logo {
    float: left;
    height: 100%;
    line-height: 55px;
    vertical-align: middle;
}

div#logo a {
    text-decoration: none;
    color: #F3F9D2;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 1px 1px 3px #171219;
}

div#logo a:hover {
    color: #CCCCCC;
}

div#links {
    text-align: right;
    height: 100%;
    margin-left: auto;
    padding-top: 1px;
    line-height: 40px;
    vertical-align: bottom;
}

div#links p, div#links p b, div#links p a {
    color: #F3F9D2;
}

div#content {
    margin: 50px auto;
    width: 70%;
}

div#content h1 {
    margin: 15px 0px 5px 0px;
    color: #171219;
    font-weight: normal;
    font-size: 2em;
    display: inline-block;
}

a#edit {
    background-image: url("../images/edit.png");
    background-size: 75%;
    margin-left: 15px;
}

a#view {
    background-image: url("../images/view.png");
    background-size: 90%;
    margin-left: 15px;
}

a#rename {
    background-image: url("../images/rename.png");
    background-size: 75%;
}

a#edit, a#rename, a#view {
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 1em;
    width: 1em;
    position: relative;
    top: 3px;
}

table {
    background: #EEEEEE;
    border: 2px solid #7A7265;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #7A7265;
    border-collapse: collapse;
}

th {
    text-align: left;
}

table#schedule {
    width: 100%;
}

#centerText {
    padding: 0px 5px;
    text-align: center;
    color: #666666;
}

div#requirement_sets {
    width: 100%;
    display: flex;
}

div.requirement_set {
    flex-basis: 100%;
    padding: 0px;
    margin-right: 5px;
    height: 0%;
    border: 1px solid #7A7265;
}

div.requirement_set:last-child {
    margin-right: 0px;
}

div.requirement_set h2 {
    margin: 3px;
    font-size: 20px;
    color: #171219;
    font-weight: bold;
}

div.requirement_set hr {
    margin: 0px 0px 3px 0px;
}

div.requirement {
    background: #0D1426;
    border-radius: 3px;
    padding: 4px;
    margin: 3px;
}

div.requirement a {
    margin: 0px;
    font-size: 16px;
    color: #F3F9D2;
    font-weight: bold;
    text-decoration: none;
}

div.requirement table {
    width: 100%;
    margin-top: 2px;
}

div.course_table {
    display: none;
}

div.course_table table {
    border-width: 1px;
    margin-top: 5px;
}

div#scheduleList a {
    font-size: 20px;
    color: #171219;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}

td.fulfilled {
    background: url("../images/fulfilled.png") no-repeat center center;
    background-size: auto 90%;
}

td.schedule_fulfills {
    background: url("../images/fulfilled_by_schedule.png") no-repeat center center;
    background-size: auto 90%;
}

/* Dropdown Button */
.dropbtn {
    padding: 5px;
    font-size: 16px;
    position: relative;
    outline: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    top: 13px;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: #f9f9f9;
    min-width: 160px;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #7A7265;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #EEEEEE;
}

.dropdown-content hr {
    padding: 0px;
    margin: 0px;
    color: #7A7265;
}

.table-section {
    border: 0px;
    margin-bottom: 50px;
}

.td-section {
    border: 0px;
    padding-right: 100px;
}

.th-section {
    border: 0px;
    padding-right: 100px;
    background-color: lightsteelblue;
}

.button {
    padding: 5px;
    background-color: #1D2D56;
    color: #F3F9D2;
    border: #859BD1 2px solid;
    cursor: pointer;
    text-decoration: none;
}

