{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'student_assistance_system/style.css' %}?{% now 'U' %}" />
    <title>Student Assistance System - {% block location %}{% endblock %}</title>
</head>

<body>
    <div id="page">
        <div id="top">
            {% block top %}
            <h1>Student Assistance System</h1><br />
            <div id="links"><p><a href="{% url 'student_assistance_system:index' %}">Home</a></p></div>
            <div id="info"><p>Logged in as <b>{{ user.get_username }}</b> <a
                href="{% url 'student_assistance_system:profile' %}">View Profile</a><a
                href="{% url 'student_assistance_system:logout' %}">Logout</a></p>
            </div>
            {% endblock %}
        </div><div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
