{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'student_assistance_system/css/style.css' %}?{% now 'U' %}" />
    <title>{% block location %}{% endblock %} - Student Assistance System</title>
</head>

<body>
    <script type="text/javascript" src="{% static 'student_assistance_system/js/requirements.js' %}"></script>
    <div id="top"><div id="header">
        <div id="logo"><a href="{% url 'student_assistance_system:index' %}">Student Assistance System</a>
        </div>

        <div id="links"><p>Logged in as <b>{{ user.profile.name }}</b>&nbsp;|&nbsp;<a
            href="{% url 'student_assistance_system:profile' %}">View Profile</a>&nbsp;|&nbsp;<a
            href="{% url 'student_assistance_system:logout' %}">Logout</a></p>

        </div>
    </div></div>
    <div id="content">
        <div class="dropdown">
            <button onclick="showHideDiv('dropdown-menu')" class="dropbtn button">Schedules</button>
            <div id="dropdown-menu" class="dropdown-content">
                {% for schedule in schedules %}
                <a href="{% url 'student_assistance_system:view_schedule' schedule.id %}">{{schedule.name}}</a>
                <hr />
                {% endfor %}
                <form method="post" action="{% url 'student_assistance_system:create_schedule' %}" id="create_schedule">
                    {% csrf_token %}
                    <a href="javascript:{}" onclick="document.getElementById('create_schedule').submit(); return false;">Create new...</a>
                </form>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
