{% extends "student_assistance_system/base_site.html" %}

{% load sas_tags %}
{% block location %}Schedule{% endblock %}
{% if schedule %}
    Editing schedule: {{ schedule.name }}
{% else %}
    Schedule not found
{% endif %}


{% block content %}
{% if schedule %}
    {% schedule_edit schedule %}
{% else %}
    <h1>This schedule does not exist.</h1>
{% endif %}

{% if section %}
    {% remove_section schedule section %}
{% endif %}

{% if req_sets %}
    {% requirements_view req_sets %}
{% endif %}
{% endblock %}