{% extends "student_assistance_system/base_site.html" %}

{% block location %}Viewing Profile{% endblock %}

{% block content %}
<h1>Viewing profile for <b>{{ user.profile.name }}</b> ({{ user.username }})</h1>
<h2 id="grad-date">Expected graduation date: <b>{{ user.profile.year }}</b></h2>
<div class="requirement_sets">
    <div class="requirement_set" style="border: none; flex-basis: 60%;">
        <table style="width: 100%;">
            <tr>
                <th colspan="2" style="text-align: center; font-size: larger;">Majors</th>
            </tr>
            <tr>
                <td><b>Name</b></td>
                <td><b>Concentration</b></td>
            </tr>
            {% for major in user.profile.usermajor_set.all %}
            <tr>
                <td>{{ major.major }}</td>
                <td>{{ major.concentration }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% if user.profile.minors.all %}
    <div class="requirement_set" style="border: none; flex-basis: 40%;">
        <table style="width: 100%;">
            <tr>
                <th colspan="2" style="text-align: center; font-size: larger;">Minors</th>
            </tr>
            {% for minor in user.profile.minors.all %}
            <tr>
                <td>{{ minor }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
