{% extends "student_assistance_system/base_site.html" %}

{% block location %}Advanced Search{% endblock %}

{% block content %}

<h1>Advanced Search</h1>
<div id="search-fields">
    <form action="{% url 'student_assistance_system:courses' %}" method="get">
        <p>Course name: <input type="text" name="name"></p>
        <p>Course number:
            <input type="text" name="num1">
            <span id="secondNum" style="display: none">
                to <input type="text" name="num2">
                <a id= "collapse" onclick="showHideInlineElement('secondNum', 'expand')" class="button"></a>
            </span>
            <a id= "expand" onclick="showHideInlineElement('secondNum', 'expand')" class="button" style="display: inline-flex"></a>

        </p>
        <p>Department: <input type="text" name="dep"></p>
        <p>Meeting times:
            M<input name="mon" type="checkbox">&nbsp;
            T<input name="tue" type="checkbox">&nbsp;
            W<input name="wed" type="checkbox">&nbsp;
            Th<input name="thu" type="checkbox">&nbsp;
            F<input name="fri" type="checkbox">&nbsp;
            between <input type="time" name="stime" placeholder="Start time"> and
            <input type="time" name="etime" placeholder="End time">
        </p>
        <p>Taught by: <input type="text" name="prof"></p>
        <p>Credit hours: <input type="number" name="credits"></p>
        <input type="submit" value="Search" class="button">
    </form>
</div>
{% endblock %}
