{% extends "student_assistance_system/base_site.html" %}

{% block location %}Advanced Search{% endblock %}

{% block content %}

<form action="{% url 'student_assistance_system:courses' %}" method="get">
    <h1>Advanced Search</h1>
    <p>Course name: <input type="text" name="name"></p>
    <p>Course number: <input type="text" name="num1"> to <input type="text" name="num2"></p>
    <p>Department: <input type="text" name="dep"></p>
    <p>Meeting times:
        M<input name="mon" type="checkbox">
        T<input name="tue" type="checkbox">
        W<input name="wed" type="checkbox">
        TH<input name="thu" type="checkbox">
        F<input name="fri" type="checkbox">
        between <input type="time" name="stime" placeholder="Start time"> and
        <input type="time" name="etime" placeholder="End time">
    </p>
    <p>Taught by: <input type="text" name="prof"></p>
    <p>Credit hours: <input type="number" name="credits"></p>
    <input type="submit" value="Search">
</form>
{% endblock %}
