{% extends "student_assistance_system/base_site.html" %}

{% load sas_tags %}
{% block location %}Schedule{% endblock %}
{% if schedule %}
    {% if editing %}Editing{% else %}Viewing{% endif %} schedule: {{ schedule.name }}
{% else %}
    Schedule not found
{% endif %}


{% block content %}
{% if schedule %}
    {% if editing %}
        {% schedule_edit schedule %}
    {% else %}
        {% schedule_view schedule %}
    {% endif %}
{% else %}
    <h1>This schedule does not exist.</h1>
{% endif %}
<br />
{% if req_sets %}
    {% requirements_view req_sets %}
{% endif %}
{% endblock %}
3
